.card-producto{
  background-color: white;
}

.productImg{
  width: 100%;
  border: solid;
  border-color: #31708f;
  border-width: 1px !important;
  border-radius: 4px 4px;
}

.row{
  margin-left: 2% !important;
  margin-top: 2% !important;
}

.btn{
  margin-top: 5% !important;
}

.col-image{
  padding-left: 0px !important;
}
